@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-100: #9decf0;
  --color-primary-200: #8de9ee;
  --color-primary-300: #7de6eb;
  --color-primary-400: #6ce3e9;
  --color-primary-500: #5ce0e6;
  --color-primary-600: #53cacf;
  --color-primary-700: #4ab3b8;
  --color-primary-800: #409da1;
  --color-primary-900: #37868a;

  --color-secondary-100: #687285;
  --color-secondary-200: #4f5b71;
  --color-secondary-300: #36435d;
  --color-secondary-400: #1d2c48;
  --color-secondary-500: #041434;
  --color-secondary-600: #04122f;
  --color-secondary-700: #03102a;
  --color-secondary-800: #030e24;
  --color-secondary-900: #020c1f;
}

@layer base {
  :root {
    --gap: 8px;
    --duration: 400ms;
  }

  * {
    font-family: "Inter", "Raleway", system-ui;
    font-optical-sizing: auto;
    /* font-style: normal; */
    smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  html {
    scroll-behavior: smooth;
    scroll-padding-block: 80px;
  }
  body {
    /* font-size: 17px; */
    font-weight: 300;
    overflow-x: hidden !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", "Inter", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif;
  }

  p {
    /* font-size: 14px; */
    font-weight: 200;
    letter-spacing: normal;
  }

  .fade-bottom {
    background: linear-gradient(
      to bottom red,
      rgba(255, 255, 255, 0.2)
    ); /* White background */
  }

  /* HTML: <div class="loader"></div> */
  .loader {
    height: 15px;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(farthest-side, #5ce0e6 90%, #0000);
    background: var(--_g) left, var(--_g) right;
    background-size: 25% 100%;
    display: grid;
  }
  .loader:before,
  .loader:after {
    content: "";
    height: inherit;
    aspect-ratio: 1;
    grid-area: 1/1;
    margin: auto;
    border-radius: 50%;
    transform-origin: -100% 50%;
    background: #5ce0e6;
    animation: l49 1s infinite linear;
  }
  .loader:after {
    transform-origin: 200% 50%;
    --s: -1;
    animation-delay: -0.5s;
  }

  @keyframes l49 {
    58%,
    100% {
      transform: rotate(calc(var(--s, 1) * 1turn));
    }
  }
}

@layer utilities {
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  animation: marquee linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse linear infinite;
}

.animate-marquee:hover,
.animate-marquee-reverse:hover {
  animation-play-state: paused; /* pause on hover */
}
